@define-color highlight rgba(117, 241, 250, 1);
@define-color dark-9 rgba(24, 24, 27, 1);
@define-color dark-8 rgba(39, 39, 42, 1);
@define-color dark-7 rgba(63, 63, 70, 1);
@define-color dark-6 rgba(82, 82, 91, 1);
@define-color dark-5 rgba(113, 113, 122, 1);

* {
  font-family: Iosevka Nerd Font Propo;
  font-size: 13px;
  border: none;
}

window#waybar {
  background-color: @dark-9;
}

#mpris {
  margin-left: 10px;
}

window#waybar button {
  margin: 0 5px;
}

window#waybar button.active {
  background-color: @dark-5;
  min-width: 30px;
}

window#waybar button.urgent {
  background-color: red;
}

#pulseaudio,
#cpu,
#network,
#memory,
#battery {
  margin: 0 5px;
  padding: 5px;
}
