@import "./themes/colors.css";

* {
	font-family: Iosevka Nerd Font Propo;
	font-size: 14px;
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
}

window#waybar {
	background-color: transparent;
	padding: 5px;
}
#mpris,
#workspaces {
	background-color: @background;
	color: @on_background;
	padding: 4px 5px;
	border-radius: 8px;
	border: 2px solid @outline;
	margin: 5px 0 0 5px;
}

#workspaces button {
	color: @on_surface_variant;
	padding: 4px 8px;
	border-radius: 8px;
	margin: 0 5px 0 5px;
	transition: background-color 0.15s ease-out, color 0.15s ease-out;
}

#workspaces button:hover {
	color: @on_surface;
	background-color: @on_tertiary_fixed;
	border-radius: 8px;
}

#workspaces button.active {
	color: @primary;
	background-color: @primary_container;
	border-radius: 8px;
}

#workspaces button.urgent {
	color: @on_error_container;
	background-color: @error_container;
	border-radius: 8px;
}


#cpu,
#memory,
#pulseaudio,
#battery,
#tray,
#custom-power,
#clock {
	background-color: @background;
	color: @on_background;
	padding: 5px 8px;
	border-top: 2px solid @outline;
	border-bottom: 2px solid @outline;
	transition: background-color 0.3s ease;
	margin-top: 5px;
}

#cpu {
	border-left: 2px solid @outline;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

#custom-power {
	border-right: 2px solid @outline;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}


#custom-power {
	padding: 5px 10px;
	margin-right: 5px;
}

#battery {
	color: #1fc015;
}

#battery.warning:not(.charging) {
	color: #ffd700;
}

#battery.plugged {
	color: #258c1e;
}

#battery.critical:not(.charging) {
	color: @error_container;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#custom-power {
	color: @error_container;
}
