@import "./themes/matugen.css";

* {
	font-family: "Iosevka Nerd Font Propo";
	font-size: 16px;
	margin: 0;
}

#waybar {
	background-color: transparent;
	color: @on_background;
}

#workspaces {
	border-radius: 10px;
	background-color: @surface_container_high;
	border: 2px solid @outline;
	margin: 5px 0 0 5px;
}

#workspaces button {
	color: @primary;
	border-radius: 10px;
	padding: 0 5px;
	margin: 5px;
	background-color: transparent;
	transition: all 0.3s ease;
}

#workspaces button.active {
	color: @on_primary_container;
	background-color: @primary_container;
}

#workspaces button:hover {
	color: @secondary;
	background-color: @surface_container;
}

#tray,
#backlight,
#clock,
#battery,
#memory,
#cpu,
#pulseaudio,
#custom-paddc,
#custom-power {
	background-color: @surface_container_high;
	border: 2px solid @outline;
	border-width: 2px 0px 2px 0px;
	padding: 0.5rem 10px;
	margin: 5px 0 0;
}

#clock {
	color: @tertiary;
	border-radius: 10px;
	border-width: 2px 2px 2px 2px;
}

#battery {
	color: @tertiary;
}

#battery.charging {
	color: @on_secondary_container;
}

#battery.warning:not(.charging) {
	color: @error;
}

#backlight {
	color: @tertiary_fixed_dim;
}

#backlight,
#battery {
	border-radius: 0;
}

#cpu {
	color: @primary_fixed_dim;
	border-radius: 10px 0px 0px 10px;
	border-width: 2px 0px 2px 2px;
}

#memory {
	color: @secondary;
}

#pulseaudio {
	color: @inverse_primary;
}

#custom-power {
	margin-right: 5px;
	color: @error;
	border-radius: 0px 10px 10px 0px;
	border-width: 2px 2px 2px 0px;
}

#workspaces button,
#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power {
	transition: all 0.3s ease;
}
