@import "./themes/colors.css";

* {
	font-family: "Iosevka Nerd Font Propo";
	font-size: 16px;
	margin: 0;
}

#waybar {
	background-color: transparent;
}

#workspaces {
	background-color: @bg;
	border: 2px solid @outline;
	border-radius: 5px;
	margin-top: 5px;
	margin-left: 5px;
}

#workspaces button {
	color: @fg;
	background-color: transparent;
	border-radius: 3px;
	padding: 0 10px;
	margin: 3px;
	transition: all 0.3s ease;
}

#workspaces button.active {
	background-color: @active;
}

#workspaces button:hover {
	color: @bg;
	background-color: @hover;
}

#window {
	background-color: @bg;
	color: @fg;
	margin: 5px 0 0 20px;
	padding: 0 5px;
	border: 2px solid @outline;
	border-radius: 5px;
}

window#waybar.empty #window {
	background-color: transparent;
	border-width: 0;
}

#tray,
#battery,
#memory,
#cpu,
#pulseaudio,
#custom-power {
	color: @fg;
	background-color: @bg;
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-style: solid;
	border-color: @outline;
	padding: 5px 10px;
	margin-top: 5px;
}

#clock {
	color: @fg;
	background-color: @bg;
	border: 2px solid @outline;
	border-radius: 5px;
	padding: 0 10px;
	margin-top: 5px;
}

#battery {
	color: @battery;
}

#battery.warning:not(.charging) {
	color: @warning;
}

#battery.plugged {
	color: @charging;
}

#battery.critical:not(.charging) {
	color: @error;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#cpu {
	border-radius: 5px 0px 0px 5px;
	border-left-width: 3px;
}

#custom-power {
	margin-right: 5px;
	color: @error;
	border-radius: 0px 5px 5px 0px;
	border-right-width: 2px;
}

#workspaces button,
#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power {
	transition: all 0.3s ease;
}
